In [13]:
import sys
sys.path.append("/Users/esti/Documents/PROYECTOS/CELLTRACKS/CellTracksColab/")
import celltracks

Use_test_dataset = False #@param {type:"boolean"}

T = celltracks.TrackingData()
 
if Use_test_dataset:
    # Download the test dataset
    T.DownloadTestData()
    
T.Folder_path = "/Users/esti/Documents/PROYECTOS/CELLTRACKS/Tracks"
T.Results_Folder = "/Users/esti/Documents/PROYECTOS/CELLTRACKS/Results"
T.skiprows = None

print(T.Folder_path)
print(T.Results_Folder)
print(T.skiprows)
print(T.usecols)

T.LoadTrackingData(data_dims="2D")
T.CompileTrackingData()

/Users/esti/Documents/PROYECTOS/CELLTRACKS/Tracks
/Users/esti/Documents/PROYECTOS/CELLTRACKS/Results
None
None

Processing Files:   0%|          | 0/11 [00:00<?, ?it/s]

Warning: Mismatch in total rows. Expected 42215, found 42226 in the merged dataframe.
Tracking data loaded in memory.

Saving Spots:   0%|          | 0/42226 [00:00<?, ?rows/s]

Data columns automatically mapped as: {'TRACK_ID': 'ID', 'POSITION_X': 'X', 'POSITION_Y': 'Y', 'POSITION_T': 'T'}.
Dataset processing completed in 0.19 seconds.
Columns Renamed!

Saving Spots:   0%|          | 0/42226 [00:00<?, ?rows/s]

Saving Spots:   0%|          | 0/42226 [00:00<?, ?rows/s]

Create the merged_tracks_df to store track parameters
The Unique_ID values in both dataframes match perfectly!

Saving Tracks:   0%|          | 0/2517 [00:00<?, ?rows/s]

In [14]:
T.spots_data

,TRACK_ID,POSITION_X,POSITION_Y,POSITION_T,File_name,Condition,experiment_nb,Repeat,Unique_ID
0,0,126.607641,205.601899,0,Exp 1 20180126 ICAM 2,ICAM,R1,1,Exp 1 20180126 ICAM 2_0
1,0,87.783973,209.996377,8,Exp 1 20180126 ICAM 2,ICAM,R1,1,Exp 1 20180126 ICAM 2_0
2,0,75.995706,232.105174,19,Exp 1 20180126 ICAM 2,ICAM,R1,1,Exp 1 20180126 ICAM 2_0
3,0,114.585365,207.868122,2,Exp 1 20180126 ICAM 2,ICAM,R1,1,Exp 1 20180126 ICAM 2_0
4,0,82.839914,210.570742,9,Exp 1 20180126 ICAM 2,ICAM,R1,1,Exp 1 20180126 ICAM 2_0
...,...,...,...,...,...,...,...,...,...
33708,219,422.149207,75.044851,19,Exp 3 20180905 VCAM 1,VCAM,R3,3,Exp 3 20180905 VCAM 1_219
33709,220,264.429882,240.309097,19,Exp 3 20180905 VCAM 1,VCAM,R3,3,Exp 3 20180905 VCAM 1_220
33710,220,265.892297,243.113919,20,Exp 3 20180905 VCAM 1,VCAM,R3,3,Exp 3 20180905 VCAM 1_220
33711,221,268.117971,29.577792,19,Exp 3 20180905 VCAM 1,VCAM,R3,3,Exp 3 20180905 VCAM 1_221
33712,221,266.804836,28.978508,20,Exp 3 20180905 VCAM 1,VCAM,R3,3,Exp 3 20180905 VCAM 1_221